/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.t9-wrapper {
  min-height: 100vh;
  width: 100%;
  .phone-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: calc((100% / 3) * 1);
    min-height: 600px;
    background-color: #e2e2e2;
    border-radius: 5px;

    @media only screen and (max-width: 678px) {
      & {
        width: calc((100% / 3) * 2.3);
      }
    }

    .t9-buttons-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 20px 15px;
    }

    .t9-combinations {
      padding: 20px 15px;
      h2 {
       font-size: 1.1rem;
       font-weight: 500;
       color: rgb(104 1 32); 
      }
      span{
        display: inline-block;
        margin-top: 10px;
        font-size: 0.85rem;
        color: rgb(77 77 77);
        font-style: italic;
      }
    }
  }
}
