/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.btn {
    cursor: pointer;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
