.screen {
    color: rgb(23, 23, 23);
    padding: 20px 15px;
    .digits {
        height: 30px;
        background-color: #fff;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
    }
}